.body {
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}


.settings-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.customize-container {
    background-color: white;
    width: 30%;
    height: 200px;
    border-radius: 10px;
}

.pw-length-slider-container {
    display: flex;
    flex-direction: row;
}

.pw-length {
    margin-left: 20px;
    flex-grow: 1;
    text-align: left;
}

.pw-length-input {
    height: 24px;
    font-size: 16px;
    margin-right: 5px;
    border-radius: 4px;
    border: 1px solid rgb(168, 168, 168);
}

.pw-options {
    flex-grow: 2;
    text-align: left;
}

.pw-length-text {
    margin-bottom: 10px;
    font-size: 20px;
}

.checkbox-container label {
    font-size: 18px;
    padding: 5px;
}

.checkbox-container input[type="checkbox"] {
    
}




.options-text {
    margin-bottom: 10px;
    font-size: 20px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    background-color: rgb(21, 21, 150);
    padding: 40px;
    
}

.pw-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 30%;
    height: 60px;
    background-color: white;
    margin-bottom: 40px;
    border-radius: px;

}

.copy-pw-button, .regenerate-pw-button {
    width: 50px;
    height: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
    
}


.copy-pw-button img, .regenerate-pw-button img {
    width: 25px; /* Ensure the image takes up the entire button */
    height: 25px; /* Ensure the image takes up the entire button */
}

.pw-input {
    flex-grow: 1;
    border: none;
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
}


.copy-regenerate-icons {
    display: flex;
    flex-direction: row;
    text-align: center;
}


